.u
	&-hideOnSmallOnly
		@media $small-only
			display none !important
	
	&-hideOnMedOnly
		@media $medium-only
			display none !important
			
	&-hideOnMedAndDown
		@media $medium-and-down
			display none !important
			
	&-hideOnMedAndUp
		@media $medium-and-up
			display none !important	
			
	&-hideOnLargeOnly
		@media $large-only
			display none !important

	&-hideOnLargeAndDown
		@media $large-and-down
			display none !important
			
	&-hideOnLargeAndUp
		@media $large-and-up
			display none !important
			
	&-hideOnXLargeAndUp
		@media $extra-large-and-up
			display none !important
