// Global

$small-screen = 600px
$small-screen-up = 601px
$medium-screen = 992px
$medium-screen-up = 993px
$large-screen = 1200px
$large-screen-up = 1201px

$small-only = unquote("only screen and (max-width : $small-screen)")

$medium-only = unquote("only screen and (min-width : $small-screen-up), (max-width : $medium-screen)")
$medium-and-down = unquote("only screen and (max-width : $medium-screen)")
$medium-and-up = unquote("only screen and (min-width : $small-screen-up)")

$large-only = unquote("only screen and (min-width : $medium-screen-up), (max-width : $large-screen)")
$large-and-down = unquote("only screen and (max-width : $large-screen)")
$large-and-up = unquote("only screen and (min-width : $medium-screen-up)")

$extra-large-and-up = unquote("only screen and (min-width : $large-screen-up)")

// Grid
$num-cols = 12
